/** Contenido Principal **/
.main {
  padding: 3rem 0; }

.titulo-main {
  text-align: center;
  margin-bottom: 2rem; }

.imagen-cliente {
  width: 50rem; }

.card {
  background-color: transparent;
  border: none; }

.descripcion-cliente {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  padding-top: 1.5rem;
  font-weight: 700; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  /**  Con esta linea hacemos que un rem equivalga a 10px**/ }

.contenedor {
  max-width: 140rem;
  margin: 0 auto; }

h1,
h2,
h3 {
  /** font-family: 'Roboto', sans-serif;**/
  font-family: 'Raleway', sans-serif;
  font-weight: 900; }

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem; }

h2 {
  font-size: 3rem;
  text-align: center; }

h3 {
  font-size: 2.4rem; }

a {
  font-size: 2rem;
  text-decoration: none !important;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  padding: 2rem;
  cursor: pointer !important;
  color: #ffffff; }

img {
  max-width: 100%; }

.boton {
  padding: 1rem;
  background-color: #FE0202;
  color: #000000;
  font-family: 'raleway';
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
  transition: .5s; }

.boton:hover {
  color: #000000;
  background-color: #FE0202; }

/** Gradient **/
body {
  background: #f85032;
  background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 4%, #f6290c 7%, #f02f17 20%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f85032), color-stop(4%, #f16f5c), color-stop(7%, #f6290c), color-stop(20%, #f02f17), color-stop(100%, black));
  background: -webkit-linear-gradient(top, #f85032 0%, #f16f5c 4%, #f6290c 7%, #f02f17 20%, black 100%);
  background: -o-linear-gradient(top, #f85032 0%, #f16f5c 4%, #f6290c 7%, #f02f17 20%, black 100%);
  background: -ms-linear-gradient(top, #f85032 0%, #f16f5c 4%, #f6290c 7%, #f02f17 20%, black 100%);
  background: linear-gradient(to bottom, #f85032 0%, #f16f5c 4%, #f6290c 7%, #f02f17 20%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#000000', GradientType=0); }

/** Redes Sociales **/
.redes-sociales {
  background-color: #000000;
  border-top: 3px solid #FE0202;
  padding-top: 5rem; }

/** Iconos redes sociales **/
.contenedor-iconos {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  flex-wrap: wrap; }

.titulo-redes {
  padding-top: 0rem; }

.icono-red {
  margin: 0 3rem; }

@media (max-width: 480px) {
  .icono-red {
    margin: 0; }
  .icono-red svg {
    width: 5rem; } }

@media (min-width: 480px) {
  .icono-red {
    margin: 0; } }

@media (max-width: 590px) {
  .contenedor-iconos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .icono-red {
    display: flex;
    justify-content: center; } }

/** Header **/
header {
  background-color: #000000; }

.titulo-principal {
  color: #ffffff; }

.titulo-principal span {
  color: #FE0202; }

/** Navegacion **/
.navegacion-principal {
  background-color: #000000;
  border-top: 3px solid #FE0202;
  margin-bottom: 2rem; }
  .navegacion-principal__lista {
    text-align: center;
    color: #ffffff; }
  .navegacion-principal__lista--item, .navegacion-principal__lista--item__activo a {
    display: inline-block; }
  .navegacion-principal__lista--item a, .navegacion-principal__lista--item__activo a a {
    color: #ffffff;
    transition: all .3s ease-in;
    display: inline-block; }
  .navegacion-principal__lista--item__activo a {
    color: #e80303; }
  .navegacion-principal__lista--item a:hover, .navegacion-principal__lista--item__activo a a:hover {
    color: #ffffff; }

@media (min-width: 992px) {
  .navegacion-principal__lista--item a:hover, .navegacion-principal__lista--item__activo a a:hover {
    background-color: #ffffff;
    color: #000000; } }

.dropdown-menu {
  background-color: #000000; }

.nav-link {
  padding: 2rem 3rem; }

/** Footer **/
.footer {
  border: 3px solid #f80303;
  padding: 1.5rem;
  background-color: #000000; }

.texto-footer {
  text-align: center;
  color: #ffffff; }

/** Quienes somos **/
.texto-quienes-somos, .texto-quienes-somos-color {
  padding: 4rem 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 700;
  margin: 0 1rem; }

.texto-quienes-somos-color {
  color: #e1e1e1;
  font-size: 2rem; }

@use '/scss/mixins';
/** Formulario Contacto **/
.formulario-contacto {
  margin: 0 auto;
  padding-bottom: 10rem; }

.titulo-formulario {
  text-align: center;
  margin: 5rem 0 2rem 0; }

.formulario-fieldset {
  padding: 2rem;
  background-color: #000000; }

.formulario-contacto legend {
  font-size: 2.5rem;
  font-family: 'roboto', sans-serif;
  font-weight: 900; }

.input-formulario {
  padding-bottom: 2rem; }

.input-formulario label {
  font-size: 2rem;
  font-family: 'raleway', sans-serif;
  font-weight: 900;
  width: 100%;
  color: #FE0202;
  display: inline-block;
  padding-bottom: 1.5rem; }

.input-formulario input,
.input-formulario textarea {
  padding: 1rem;
  margin-left: 2rem;
  width: 90%;
  border: none; }

.contenedor-boton {
  display: flex;
  justify-content: center; }

.boton {
  border: 3px solid #fa0101;
  background-color: #000000;
  color: #ff030c; }
