* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /**  Con esta linea hacemos que un rem equivalga a 10px**/
}

.contenedor {
    max-width: 140rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    /** font-family: 'Roboto', sans-serif;**/
    font-family: 'Raleway', sans-serif; 
    font-weight: 900;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2.4rem;
}

a {
    font-size: 2rem;
    text-decoration: none !important; 
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding: 2rem;
    cursor: pointer !important;
}

img {
    max-width: 100%;
}

.boton {
    padding: 1rem;
    background-color: #FE0202;
    color: #000000;
    font-family: 'raleway';
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    transition: .5s;
}

.boton:hover {
    color: #000000;
    background-color: #FE0202;
}

/** Gradient **/
body {
    background: rgba(248, 80, 50, 1);
    background: -moz-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 4%, rgba(246, 41, 12, 1) 7%, rgba(240, 47, 23, 1) 20%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248, 80, 50, 1)), color-stop(4%, rgba(241, 111, 92, 1)), color-stop(7%, rgba(246, 41, 12, 1)), color-stop(20%, rgba(240, 47, 23, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 4%, rgba(246, 41, 12, 1) 7%, rgba(240, 47, 23, 1) 20%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 4%, rgba(246, 41, 12, 1) 7%, rgba(240, 47, 23, 1) 20%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 4%, rgba(246, 41, 12, 1) 7%, rgba(240, 47, 23, 1) 20%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 4%, rgba(246, 41, 12, 1) 7%, rgba(240, 47, 23, 1) 20%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#000000', GradientType=0);
}

/** Redes Sociales **/

.redes-sociales {
    background-color: map-get($colores, "color-redes");
    border-top: 3px solid #FE0202;
    padding-top: 5rem;
}


/** Iconos redes sociales **/

.contenedor-iconos {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    flex-wrap: wrap;
}


.titulo-redes {
    padding-top: 0rem;
}

.icono-red {
    margin: 0 3rem;
}

@media (max-width: 480px) {
    .icono-red {
        margin: 0;
    }

    .icono-red svg {
        width: 5rem;
    }
}

@media (min-width: 480px) {
    .icono-red {
        margin: 0;
    }
}

@media (max-width: 590px) {
    .contenedor-iconos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .icono-red{
        display: flex;
        justify-content: center;
    }
}