@mixin boton ($bgColor, $textColor){
    padding: 1rem;
    background-color: #FE0202;
    color: #000000;
    font-family: 'raleway';
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    transition: .5s;
    background-color: $bgColor;
    color: $textColor;
}
