/** Navegacion **/
.navegacion-principal {
    background-color: #000000;
    border-top: 3px solid #FE0202;
    margin-bottom: 2rem;

    &__lista {
        text-align: center;
        color: #ffffff;
    }
    &__lista--item {
        display: inline-block;
    }
    &__lista--item a {
        color: #ffffff;
        transition: all .3s ease-in;
        display: inline-block;
    }
    &__lista--item__activo a {
        @extend .navegacion-principal__lista--item;
        color: #e80303;
    }
   &__lista--item a:hover {
        color: #ffffff;
    }
    
}


@media (min-width: 992px) {
    .navegacion-principal__lista--item a:hover {
        background-color: #ffffff;
        color: #000000;
    }
}

.dropdown-menu{
    background-color: #000000;
}
.nav-link{
    padding: 2rem 3rem;
}