/** Quienes somos **/
.texto-quienes-somos {
    padding: 4rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 700;
    margin: 0 1rem;
}

.texto-quienes-somos-color{
    @extend .texto-quienes-somos;
    color: #e1e1e1;
    font-size: 2rem;
}

.carousel-section{
    display: flex;
    justify-content: center;
}
.carousel{
    width: 70rem;
}

.carousel-item img{
    border-radius: 10%;
}